<!-- SEARCH -->
<div class="container">
    <div class="header search">
        <form>
            <div class="form-row align-items-center">
                <div class="col-md-6">
                    <input type="text" name="applicationName" class="form-control" [(ngModel)]="applicationName" placeholder="Application Name">
                </div>
                <div class="col-md-6">
                    <input type="text" name="query" class="form-control" [(ngModel)]="query" placeholder="Query">
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" name="rangeStart" class="form-control" [(ngModel)]="rangeStart" placeholder="Start" required>
                        <span class="input-group-addon"><i class="fa fa-calendar-alt"></i></span>
                    </div>                    
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" name="rangeEnd" class="form-control" [(ngModel)]="rangeEnd" placeholder="End" required>
                        <span class="input-group-addon"><i class="fa fa-calendar-alt"></i></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" name="filterDebug" class="form-check-input" value="Debug" [(ngModel)]="filterDebug">
                            <i class="fa fa-bug text-secondary" title="Debug"></i>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" name="filterInfo" class="form-check-input" value="Info" [(ngModel)]="filterInfo">
                            <i class="fa fa-info-circle text-primary" title="Info"></i>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" name="filterWarn" class="form-check-input" value="Warning" [(ngModel)]="filterWarning">
                            <i class="fa fa-exclamation-triangle text-warning" title="Warning"></i>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" name="filterError" class="form-check-input" value="Error" [(ngModel)]="filterError">
                            <i class="fa fa-times-circle text-danger" title="Error"></i>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" name="filterFatal" class="form-check-input" value="Fatal" [(ngModel)]="filterFatal">
                            <i class="fa fa-fire-extinguisher text-danger" title="Fatal"></i>
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-secondary form-control" [disabled]="loading" (click)="resetClicked()">Reset</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary form-control" [disabled]="loading" (click)="goClicked()">Go</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- TOAST MESSAGES -->
<div class="container" *ngIf="toast">
    <div class="alert alert-dismissable fade show" [ngClass]="'alert-' + toast.severity" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="clearToast()">
            <span aria-hidden="true">&times;</span>
        </button>
        {{toast.message}}
    </div>
</div>


<!-- RESULTS -->
<div class="container-fluid results" infiniteScroll [infiniteScrollDistance]="1.5" (scrolled)="nextPage()" *ngIf="logs">
    <div class="log-header">
        <div class="field selector">&nbsp;</div>
        <div class="field time">Time (EST) <i class="fa fa-sort-amount-down"></i></div>
        <div class="field correlation-id">Correlation ID</div>
        <div class="field sequence">Sequence</div>
        <div class="field application">Application</div>
        <div class="preview">Message</div>
    </div>
    <div class="log-row" *ngIf="logs.length == 0">
        <h2>No results</h2>
    </div>
    <div class="log-row font-fixed" *ngFor="let log of logs; even as isAlt" style="clear: both;" [class.alt]="isAlt">
        <div class="fields" (click)="rowClicked(log)" [class.selected]="log.isSelected">
            <div class="field selector">
                <i class="fa fa-bug text-secondary" *ngIf="log.data.severity == 'Debug'"></i>
                <i class="fa fa-info-circle text-primary" *ngIf="log.data.severity == 'Info'"></i>            
                <i class="fa fa-exclamation-triangle text-warning" *ngIf="log.data.severity == 'Warn'"></i>
                <i class="fa fa-times-circle text-danger" *ngIf="log.data.severity == 'Error'"></i>
                <i class="fa fa-fire-extinguisher text-danger" *ngIf="log.data.severity == 'Fatal'"></i>
            </div>
            <div class="field time">{{log.data.createdUtc.format('HH:mm:ss')}}</div>
            <div class="field correlation-id">{{(log.data.correlationId | slice:0:8) || '&nbsp;'}}</div>        
            <div class="field sequence">{{log.data.sequence || '&nbsp;'}}</div>
            <div class="field application" [title]="log.data.applicationName">{{log.data.applicationName || '&nbsp;'}}</div>
            <div class="preview">
                {{log.data.message}}
            </div>
        </div>
        <div class="detail" [class.selected]="log.isSelected" *ngIf="log.isSelected">
            {{log.data.message}}
        </div>
    </div>
</div>
