.header.search {
    .form-row+.form-row {
        margin-top: 10px;
    }
}

.results {
    background: #FFFFFF;
    font-size: 85%;
    padding: 0 20px;

    @results-spacing: 10px;
    @results-border-inner: 1px solid #e3e7eb;
    @results-border-outer: 2px solid darken(#e3e7eb, 5%);

    .log-row, .log-header {        
        border-left: @results-border-outer;
        border-right: @results-border-outer;

        .field {
            float: left;
            text-align: center;       
            
            &.selector        { width: 2rem; }
            &.time            { width: 7rem; }
            &.correlation-id  { width: 10rem; }
            &.sequence        { width: 7rem; }
            &.application     { width: 10rem; text-align: left; }
        }

        .field.application, .preview {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .preview {                        
            padding: 0 @results-spacing;            
        }
    }

    .log-header {
        border-top:@results-border-outer;
        padding: @results-spacing 0;
        font-size: 110%;
        font-weight: bold;

        .fa {
            margin-left: 5px;
        }
    }

    .log-row {
        border-top: @results-border-inner;

        &:last-of-type {
            border-bottom: @results-border-outer;
        }

        &.alt>div {
            background: darken(#fff, 5%);
        }

        .fields {
            padding: @results-spacing 0;
            cursor: pointer;           
        }        

        .detail {
            padding: @results-spacing * 1.5;
        }

        &>h2 {
            font-size: 125%;
            font-weight: bold;
            margin: 1rem 0;            
            text-align: center;
        }
    }
}
