body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.font-fixed {
    font-family: 'Source Code Pro', monospace;
}

form {
    padding: 20px 0;    

    button {
        cursor: pointer;
    }

    input, button, .input-group-addon, .form-control {
        border-radius: 0;
        font-size: 90%;
    }

    .form-check-input {
        margin-top: .5rem;
    }    
}

#toast-container {
    .toast-info {
        background-color: #868e96 !important;
    }
}